# This csv was scraped from the original student plan located on [portal de alumnos > mis materias > plan de estudios pdf ]

In [4]:
import pandas as pd 

data = pd.read_csv("./Documents/plandeestudios.csv",encoding='latin1') 
data.tail()

,clave,nombre,tipo,creditos,teo,lab,eje,req,requisitos
124,9510,VISIÓN POR COMPUTADORA,OPT,8,3,2,E,0,9508
125,9439,ACTIVIDADES DE VINCULACIÓN,OPT,20,0,20,I,0,0
126,81,ESTANCIA DE INVESTIGACIÓN CIENTÍFICA,OPT,10,0,10,NaN,0,0
127,660,DESEMPEÑO EN EVALUACIÓN EXTERNA (CENEVALEGEL),OPT,10,0,10,NaN,0,0
128,733,DESEMPEÑO EN EVALUACIÓN EXTERNA (CENEVALEXDIAL),OPT,10,0,10,NaN,0,0

# Iterate rows, Post them to your local enviroment of mongodb

In [9]:
import requests 

for index, row in data.iterrows():
  req = ''
  if(row['requisitos'] != '0'):
    req = row['requisitos']
    json = {
        'key': row['clave'], 
        'name': row['nombre'], 
        'type': row['tipo'], 
        'credits': row['creditos'], 
        'theory': row['teo'], 
        'lab': row['lab'], 
        'axis': row['eje'], 
        'minCredits': row['req'], 
        'requirements': req
    }
    requests.post(url="http://localhost:4000/api/subjects", json=json)