# This csv was scraped from the original student plan located on [portal de alumnos > mis materias > plan de estudios pdf ]

In [12]:
import pandas as pd 

data = pd.read_csv("./plandeestudios.csv",encoding='latin1') 
data.tail()

,clave,nombre,tipo,creditos,teo,lab,eje,req,requisitos
124,9510,VISIÓN POR COMPUTADORA,OPT,8,3,2,E,0,9508
125,9439,ACTIVIDADES DE VINCULACIÓN,OPT,20,0,20,I,0,0
126,81,ESTANCIA DE INVESTIGACIÓN CIENTÍFICA,OPT,10,0,10,Z,0,0
127,660,DESEMPEÑO EN EVALUACIÓN EXTERNA (CENEVALEGEL),OPT,10,0,10,Z,0,0
128,733,DESEMPEÑO EN EVALUACIÓN EXTERNA (CENEVALEXDIAL),OPT,10,0,10,Z,0,0

# Iterate rows, Post them to your local enviroment of mongodb

In [14]:
import requests

    
for index, row in data.iterrows():
    req = ''
    if(row['requisitos'] != '0'):
        req = row['requisitos']
    json = {
        'key': row['clave'], 
        'name': row['nombre'], 
        'type': row['tipo'], 
        'credits': row['creditos'], 
        'theory': row['teo'], 
        'lab': row['lab'], 
        'axis': row['eje'], 
        'minCredits': row['req'], 
        'requirements': req
    }
    requests.post(url="http://localhost:4000/api/subjects", json=json)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128